<div class="app-container" style="margin-top: 100px;">
    <div class="header__video-container">
        <video #headerVideo class="header__video" autoplay muted loop playsinline>
            <source src="videos/header-video.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
    </div>

    <header id="home">
        <div class="header__container">
            <div class="header__content">
                <p>Magmate – Votre assistant touristique pour les services marocains</p>
                <h1>Vivez l'ambiance marocaine!</h1>
            </div>
        </div>
    </header>

    <section class="section__container destination__container" id="Marketplace">
        <h2 class="section__header">Marketplace</h2>
        <p class="section__description">
            Découvrez les produits artisanaux marocains
        </p>
        <div class="destination__grid">
            <div class="destination__card">
                <img src="images/destination-1.jpg" alt="destination" />
                <div class="destination__card__details">
                    <div>
                        <h4>Poterie</h4>
                        <p>Tajine</p>
                    </div>
                </div>
            </div>
            <div class="destination__card">
                <img src="images/destination-2.jpeg" alt="destination" />
                <div class="destination__card__details">
                    <div>
                        <h4>Maroquinerie</h4>
                        <p>Babouches marocaines</p>
                    </div>
                </div>
            </div>
            <div class="destination__card">
                <img src="images/destination-3.jpg" alt="destination" />
                <div class="destination__card__details">
                    <div>
                        <h4>Pigments naturels</h4>
                        <p>Indigo naturel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container journey__container" id="événement">
        <h2 class="section__header">Événement</h2>
        <p class="section__description">
            Découvrez les événements marocains
        </p>
        <div class="journey__grid">
            <div class="journey__card tan-tan">
                <div class="journey__card__bg">
                    <h4>Moussem de Tan-Tan</h4>
                </div>
                <div class="journey__card__content">
                    <img src="images/zellige.png" alt="Moussem de Tan-Tan" class="journey__icon">
                    <p>
                        Ce moussem, classé patrimoine immatériel de l’humanité par l’UNESCO, rassemble chaque année des tribus nomades du Sahara.
                    </p>
                </div>
            </div>

            <div class="journey__card gnaoua">
                <div class="journey__card__bg">
                    <h4>Festival Gnaoua d'Essaouira</h4>
                </div>
                <div class="journey__card__content">
                    <img src="images/zellige.png" alt="Festival Gnaoua" class="journey__icon">
                    <p>
                        Festival de musique dédié aux traditions Gnaoua, mêlant musique spirituelle africaine, jazz, reggae et musiques du monde. Il attire des milliers de spectateurs et musiciens internationaux.
                    </p>
                </div>
            </div>

            <div class="journey__card roses">
                <div class="journey__card__bg">
                    <h4>Festival Mawazine</h4>
                </div>
                <div class="journey__card__content">
                    <img src="images/zellige.png" alt="Moussem des Roses" class="journey__icon">
                    <p>
                        l’un des plus grands festivals de musique au monde, organisé chaque année à Rabat. Il a été créé par l'association Maroc Cultures sous le haut patronage de Sa Majesté le Roi Mohammed VI. Son objectif principal est de promouvoir la diversité musicale et culturelle, en mettant en valeur à la fois des artistes marocains et des stars internationales.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="section__container discover__container" id="Service de prestataire">
        <h2 class="section__header">Service de prestataire</h2>
        <p class="section__description">
            Découvrez les services qu'offrent les Marocains.
        </p>
        <div class="discover__grid">
            <div class="discover__card">
                <span><i class="ri-camera-lens-line"></i></span>
                <h4>Photographe ou vidéaste touristique</h4>
                <p>
                    Vous voulez garder un souvenir inoubliable de votre passage à Marrakech, Fès ou Chefchaouen ? Je vous propose des séances photos et vidéos panoramiques depuis les plus beaux toits et terrasses de la médina
                </p>
            </div>
            <div class="discover__card">
                <span><i class="ri-ship-line"></i></span>
                <h4>Guide de balades en bateau ou en felouque</h4>
                <p>
                    Je vous propose des balades guidées en bateau ou en felouque, au départ des plus beaux ports comme Essaouira, Agadir ou Dakhla.
                    Naviguez à travers les eaux turquoise, explorez des criques secrètes et admirez les paysages côtiers comme vous ne les avez jamais vus.
                </p>
            </div>
            <div class="discover__card">
                <span><i class="ri-landscape-line"></i></span>
                <h4>Guide spécialisé dans les treks en montagne</h4>
                <p>
                    Si vous cherchez à vivre une expérience unique et mémorable au cœur des montagnes du Maroc, je vous propose de vous accompagner dans des treks inoubliables, notamment l'ascension du Mont Toubkal.
                </p>
            </div>
        </div>
    </section>
    <section class="section__container showcase__container" id="Service de traduction et monnaie">
        <div class="showcase__image">
            <img src="images/showcase.jpeg" alt="showcase" />
        </div>
        <div class="showcase__content">
            <h4>Service de traduction : Parlez aux Marocains</h4>
            <p *ngIf="currentLanguage === 'french'">
                J’admire vraiment la richesse de la culture marocaine, tout est si coloré, chaleureux et authentique… et je suis particulièrement fascinée par le savoir-faire artisanal des femmes ici. Pouvez-vous m’expliquer comment vous arrivez à casser les noyaux d’argan aussi facilement ? Ça a l’air d’un travail très minutieux et difficile
            </p>
            <p *ngIf="currentLanguage === 'arabic'">
                أنا معجبة حقًا بغنى الثقافة المغربية، فكل شيء هنا ملوّن ودافئ وأصيل... وأنا منبهرة بشكل خاص بمهارة النساء في الحِرف اليدوية. هل يمكنك أن تشرحي لي كيف تستطيعين كسر نوى الأركان بهذه السهولة؟ يبدو أنه عمل دقيق وصعب جدًا
            </p>
            <div class="showcase__btn">
                <button class="btn" (click)="toggleLanguage()">
                    {{ currentLanguage === 'french' ? 'Traduire en arabe' : 'Traduire en français' }}
                    <i class="ri-arrow-right-line"></i>
                </button>
            </div>
        </div>
    </section>

    <section class="section__container client__container">
        <h2 class="section__header">Avis de nos utilisateurs</h2>
        <p class="section__description">
            Partagez votre avis sur vos expériences et inspirez d'autres touristes !
        </p>

        <div class="add-testimonial-form">
            <h3>Ajouter un nouveau Avis</h3>
            <form (ngSubmit)="addTemoignage()" #temoignageForm="ngForm">
                <div class="form-group">
                    <textarea [(ngModel)]="newTemoignage.commentaire" name="commentaire" required placeholder="Votre commentaire..." rows="4"></textarea>
                </div>
                <div class="form-group rating-input">
                    <label for="note">Note:</label>
                    <select [(ngModel)]="newTemoignage.note" name="note" id="note">
                        <option value="1">1 Étoile</option>
                        <option value="2">2 Étoiles</option>
                        <option value="3">3 Étoiles</option>
                        <option value="4">4 Étoiles</option>
                        <option value="5">5 Étoiles</option>
                    </select>
                </div>
                <button type="submit" class="btn" [disabled]="!temoignageForm.valid">Ajouter un Avis</button>
            </form>
        </div>

<div class="temoignages-container-wrapper">
  <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>

  <div class="temoignages-container" #temoignageCarousel>
    <div class="client__card" *ngFor="let temoignage of temoignages">
      <div class="client__content">
        <div class="client__rating">
          <span *ngFor="let star of [].constructor(temoignage.note)">
            <i class="ri-star-fill"></i>
          </span>
        </div>
        <p>{{ temoignage.commentaire }}</p>
      </div>
      <div class="client__details">
        <img [src]="temoignage.auteur?.photo || 'images/default-avatar.png'" alt="client avatar" />
        <div>
          <h4>{{ temoignage.auteur?.fname }} {{ temoignage.auteur?.lname }}</h4>
          <!--<h5>{{ temoignage.auteur?.email }}</h5>-->
        </div>
      </div>
    </div>
  </div>

  <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
</div>

    </section>


</div>