<div class="navigation">
  <div class="nav__header">
    <div class="nav__logo">
      <a routerLink="/" class="logo">
        <img src="images/logo1.png" alt="Magmate" class="logo-icon" />
      </a>
    </div>
    
    <div class="nav__menu__btn" (click)="toggleMenu()">
      <i [class]="isMenuOpen ? 'ri-close-line' : 'ri-menu-line'"></i>
    </div>
  </div>

  <ul class="nav__links" [class.open]="isMenuOpen">
    
    <li><a routerLink="/" (click)="closeMenu()">Accueil</a></li>
    
    <li><a routerLink="/marketplace" (click)="closeMenu()">Marketplace</a></li>
    
    <li><a routerLink="/events" (click)="closeMenu()">Événement</a></li>
    
    <li><a routerLink="/prestataires" (click)="closeMenu()">Service de prestataire</a></li>

    <li class="nav__dropdown">
      <a (click)="toggleTranslationDropdown($event)">
        Service de traduction et monnaie <i class="ri-arrow-down-s-line"></i>
      </a>
      <ul class="dropdown-submenu" *ngIf="showTranslationDropdown">
        <li><a routerLink="/translation" (click)="hideTranslationDropdown()">Service de Traduction</a></li>
        <li><a routerLink="/currency" (click)="hideTranslationDropdown()">Convertisseur de Monnaie</a></li>
      </ul>
    </li>

    <li class="nav__profile">
      <div class="profile-dropdown">
        <img
          [src]="profilePhotoUrl"
          alt="Profil"
          class="nav__profile-pic"
          (error)="profilePhotoUrl = 'images/default-profile.png'"
          (click)="toggleDropdown()"
        />
        
        <div class="dropdown-menu" *ngIf="showDropdown">
          <a
            class="dropdown-item"
            routerLink="/profile"
            (click)="hideDropdown()"
          >
            <i class="ri-user-line"></i> Profil
          </a>
          <a
            class="dropdown-item"
            routerLink="/messagerie"
            (click)="hideDropdown()"
          >
            <i class="ri-message-2-line"></i> Messagerie
            <span
              class="notification-badge"
              *ngIf="totalUnreadMessages > 0"
              [class.pulse]="isPulsing"
            >
              {{ totalUnreadMessages > 99 ? "99+" : totalUnreadMessages }}
            </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>