


  <section class="section__container explore__container"  >
    <div class="explore__image" style="margin-top: 80px;">
      <img src="images/explore.jpeg" alt="explore" />
    </div>
    <div class="explore__content">

      <h2 class="section__header">
        <span>Convertissez</span> votre argent
      </h2>
       
      <p class="section__description">
        Convertissez votre argent en toute simplicité — la convetion prend en charge les devises en temps réel pour des échanges sans frontières.
      </p>

      
    </div>
  </section>

  <!-- Currency Converter Section -->
<section class="section__container currency__container" id="currency" >
<h2 class="section__header"><span>Convertion</span> en temps réel</h2>


<div class="currency-wrapper" >
  <form action="#">
    <div class="amount">
      <p>Entrez le montant</p>
      <input type="text" value="1">
    </div>
    <div class="drop-list">
      <div class="from">
        <p>De</p>
        <div class="select-box">
          <img src="https://flagcdn.com/48x36/ma.png" alt="flag">
          <select></select>
        </div>
      </div>

      <div class="to">
        <p>à</p>
        <div class="select-box">
          <img src="https://flagcdn.com/48x36/us.png" alt="flag">
          <select></select>
        </div>
      </div>
    </div>
    <div class="exchange-rate">Récupération du taux de change...</div>
    <button class="btn">Obtenir le taux de change</button>
  </form>
</div >
</section>
<br/>