<div class="navigation">
  <div class="nav__header">
    <div class="nav__logo">
      <a routerLink="/admin/home" class="logo">
        <img src="images/logo1.png" alt="Magmate" class="logo-icon" />
      </a>
    </div>
    
    <div class="nav__menu__btn" (click)="toggleMenu()">
      <i [class]="isMenuOpen ? 'ri-close-line' : 'ri-menu-line'"></i>
    </div>
  </div>

  <ul class="nav__links" [class.open]="isMenuOpen">
    
    <li><a routerLink="/admin/home" (click)="closeMenu()">Accueil</a></li>
    
    <li class="nav__dropdown">
      <a (click)="toggleMarketplaceDropdown($event)">
        Marketplace <i class="ri-arrow-down-s-line"></i>
      </a>
      <ul class="dropdown-submenu" *ngIf="showMarketplaceDropdown">
        <li><a routerLink="/admin/magasins" (click)="hideMarketplaceDropdown()">Gestion des magasins</a></li>
        <li><a routerLink="/admin/reclamations" (click)="hideMarketplaceDropdown()">Gestion des réclamations</a></li>
      </ul>
    </li>
    
    <li><a routerLink="/admin/events" (click)="closeMenu()">Événement</a></li>
    
    <li class="nav__dropdown">
      <a (click)="togglePrestataireDropdown($event)">
        Service de prestataire <i class="ri-arrow-down-s-line"></i>
      </a>
      <ul class="dropdown-submenu" *ngIf="showPrestataireDropdown">
        <li><a routerLink="/admin/prestataires" (click)="hidePrestataireDropdown()">Gestion des prestataires</a></li>
        <li><a routerLink="/admin/reclamations-prestataires" (click)="hidePrestataireDropdown()">Gestion des réclamations</a></li>
      </ul>
    </li>

    <li><a routerLink="/admin/users" (click)="closeMenu()">Gestion des utilisateurs</a></li>

    <li class="nav__profile">
      <div class="profile-dropdown">
        <img
          [src]="profilePhotoUrl"
          alt="Profil"
          class="nav__profile-pic"
          (error)="profilePhotoUrl = 'images/default-profile.png'"
          (click)="toggleDropdown()"
        />
        
        <div class="dropdown-menu" *ngIf="showDropdown">
          <a
            class="dropdown-item"
            routerLink="/admin-profile"
            (click)="hideDropdown()"
          >
            <i class="ri-user-line"></i> Profil
          </a>
          <a
            class="dropdown-item"
            routerLink="/admin/messagerie"
            (click)="hideDropdown()"
          >
            <i class="ri-message-2-line"></i> Messagerie
            <span
              class="notification-badge"
              *ngIf="totalUnreadMessages > 0"
              [class.pulse]="isPulsing"
            >
              {{ totalUnreadMessages > 99 ? "99+" : totalUnreadMessages }}
            </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>