body {
  margin: 0;
  background: var(--secondary-bg);
}
:root {
  --primary-color: #c0392b;
  --card-color: #ffffffa8;
  --border-color: #960c0c;
  --box-shadow: 0 4px 16px rgba(192, 57, 43, 0.07);
  --box-shadow-hover: 0 12px 32px rgba(192, 57, 43, 0.18);
  --text-color: #222;
  --secondary-bg: linear-gradient(135deg, #fbeee6 0%, #f9c791bd 100%);
}
