<div class="reclamation-list-container" style="margin-top: 80px;">
  <h2>Liste des Réclamations</h2>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="reclamations.length > 0; else noReclamations" class="reclamation-table-container">
    <table>
      <thead>
        <tr>
          
          <th>Description</th>
          <th>Date de Création</th>
          <th>Nom du Produit</th>
          <th>Utilisateur (Email)</th>
          <th>Pièce Jointe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reclamation of reclamations">
          
          <td>{{ reclamation.description }}</td>
          <td>{{ reclamation.dateCreation | date:'short' }}</td>
          <td>
            <a *ngIf="reclamation.produit?.titre" [routerLink]="['/admin/produit-details', reclamation.produit.idProduit]">
              {{ reclamation.produit.titre }}
            </a>
            <span *ngIf="!reclamation.produit?.titre">N/A</span>
          </td>
          <td>{{ reclamation.utilisateur?.email || 'N/A' }}</td>
          <td>
            <a *ngIf="reclamation.pieceJointe" [href]="'http://localhost:3000/public/reclamations/' + reclamation.pieceJointe" target="_blank">Voir</a>
            <span *ngIf="!reclamation.pieceJointe">Aucune</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noReclamations>
    <p class="no-reclamations-message">Aucune réclamation trouvée pour le moment.</p>
  </ng-template>
</div>