<div class="reclamation-list-container">
  <h2>Liste des Réclamations</h2>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="reclamations.length > 0; else noReclamations" class="reclamation-table-container">
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th> <th>Produit</th>
          <th>Utilisateur</th>
          <th>Pièce Jointe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reclamation of reclamations">
          <td>{{ reclamation.description }}</td>
          <td>{{ reclamation.dateCreation | date:'shortDate' }}</td> <td>
            <a *ngIf="reclamation.produit?.titre" [routerLink]="['/admin/produit-details', reclamation.produit.idProduit]">
              {{ reclamation.produit.titre }}
            </a>
            <span *ngIf="!reclamation.produit?.titre">N/A</span>
          </td>
          <td>{{ reclamation.utilisateur?.email || 'N/A' }}</td>
          <td>
            <a *ngIf="reclamation.pieceJointe" [href]="reclamation.pieceJointe" target="_blank">
              <i class="ri-attachment-line"></i> Voir
            </a>
            <span *ngIf="!reclamation.pieceJointe">-</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noReclamations>
    <div class="no-reclamations-message">
      <p>Aucune réclamation trouvée.</p>
    </div>
  </ng-template>
</div>